NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=<YOUR_CONTENT_GOOGLE_CONSOLE_SEARCH>

# RESEND ENVOIRONMENT VARIABLES
NEXT_PUBLIC_RESEND_API_KEY=<YOUR_RESEND_API_KEY>
NEXT_PUBLIC_RESEND_EMAIL_TO=<YOUR_RESEND_EMAIL_TO>
NEXT_PUBLIC_RESEND_EMAIL_FROM=<YOUR_RESEND_EMAIL_FROM>
