@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* Header Colors */
  --header-bg: #343639;

  /* Input */
  --input-bg: #1f1e1e;

  /* Hero Section Colors */
  --hero-text-muted : #6F6F6F;
  --button-bg       : #2A2A2A;
  --button-bg-hover : #3A3A3A;
  --status-available: #22C55E;
  --text-secondary  : #D1D5DB;
  --text-description: #9CA3AF;
}

@theme inline {
  --color-background  : var(--background);
  --color-foreground  : var(--foreground);
  --color-header      : var(--header-bg);
  --color-input-bg    : var(--input-bg);
  --color-hero-muted  : var(--hero-text-muted);
  --color-button      : var(--button-bg);
  --color-button-hover: var(--button-bg-hover);
  --color-status      : var(--status-available);
  --color-secondary   : var(--text-secondary);
  --color-description : var(--text-description);
  --font-sans         : var(--font-dm-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background      : #212224;
    --foreground      : #ededed;
    --header-bg       : #2C2C2E;
    --hero-text-muted : #6F6F6F;
    --button-bg       : #2A2A2A;
    --button-bg-hover : #3A3A3A;
    --status-available: #22C55E;
    --text-secondary  : #D1D5DB;
    --text-description: #9CA3AF;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
